data source:  https://www.eia.gov/petroleum/gasdiesel/?ref=bambooweekly.com\

In [9]:
!pip install ipywidgets

Collecting ipywidgets
  Downloading ipywidgets-8.1.7-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: comm>=0.1.3 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets) (0.2.1)
Requirement already satisfied: ipython>=6.1.0 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets) (8.14.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets) (5.14.1)
Collecting widgetsnbextension~=4.0.14 (from ipywidgets)
  Downloading widgetsnbextension-4.0.14-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab_widgets~=3.0.15 (from ipywidgets)
  Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: backcall in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (2.17.2)
Requirement already satisfied: stack-data in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: colorama in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\dqthi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.17.0)
Downloading ipywidgets-8.1.7-py3-none-any.whl (139 kB)
Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl (216 kB)
Downloading widgetsnbextension-4.0.14-py3-none-any.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ----------------------- ---------------- 1.3/2.2 MB 13.4 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 13.4 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 13.4 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 2.3 MB/s eta 0:00:00
Installing collected packages: widgetsnbextension, jupyterlab_widgets, ipywidgets

   ------------- -------------------------- 1/3 [jupyterlab_widgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   -------------------------- ------------- 2/3 [ipywidgets]
   ---------------------------------------- 3/3 [ipywidgets]

Successfully installed ipywidgets-8.1.7 jupyterlab_widgets-3.0.15 widgetsnbextension-4.0.14

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\dqthi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd
import matplotlib as plt

from ydata_profiling import ProfileReport

In [2]:
link = r"C:\Users\dqthi\OneDrive\Python\Bamboo Weekly\#83\pswrgvwall.xls"

df = pd.read_excel(link)

In [3]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Workbook Contents,NaN,NaN,NaN,NaN,NaN
1,NaN,"U.S. All Grades, Areas and Formulations",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Click worksheet name or tab at bottom for data,NaN,NaN,NaN,NaN,NaN
4,NaN,Worksheet Name,Description,# Of Series,Frequency,Latest Data for,NaN
5,NaN,Data 1,Regular Conventional,20,Weekly,7/28/2025,8/20/1990
6,NaN,Data 2,Regular Reformulated,21,Weekly,7/28/2025,11/28/1994
7,NaN,Data 3,Regular All Areas All Formulations,28,Weekly,7/28/2025,8/20/1990
8,NaN,Data 4,Midgrade Conventional,20,Weekly,7/28/2025,11/28/1994
9,NaN,Data 5,Midgrade Reformulated,21,Weekly,7/28/2025,11/28/1994
10,NaN,Data 6,Midgrade All Areas All Formulations,28,Weekly,7/28/2025,11/28/1994
11,NaN,Data 7,Premium Conventional,20,Weekly,7/28/2025,11/28/1994
12,NaN,Data 8,Premium Reformulated,21,Weekly,7/28/2025,11/28/1994
13,NaN,Data 9,Premium All Areas All Formulations,28,Weekly,7/28/2025,11/28/1994
14,NaN,Data 10,All Grades Conventional,20,Weekly,7/28/2025,11/28/1994
15,NaN,Data 11,All Grades Reformulated,21,Weekly,7/28/2025,11/28/1994
16,NaN,Data 12,"All Grades, Areas and Formulations",28,Weekly,7/28/2025,4/5/1993
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Release Date:,7/29/2025,NaN,NaN,NaN,NaN
19,NaN,Next Release Date:,8/5/2025,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Excel File Name:,pswrgvwall.xls,NaN,NaN,NaN,NaN
22,NaN,Available from Web Page:,http://www.eia.gov/oil_gas/petroleum/data_publ...,NaN,NaN,NaN,NaN
23,NaN,Source:,Energy Information Administration,NaN,NaN,NaN,NaN
24,NaN,"For Help, Contact:",infoctr@eia.gov,NaN,NaN,NaN,NaN
25,NaN,NaN,(202) 586-8800,NaN,NaN,7/29/2025 9:14:50 AM,NaN

without adding any parameters after the link, the program loads the first sheet of the excel file. Every single cell in the file is loaded into the dataframe

In [4]:
df = pd.read_excel(link, sheet_name = 1, header = 2, index_col = 'Date')
df

,Weekly U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly East Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New England (PADD 1A) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Central Atlantic (PADD 1B) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Lower Atlantic (PADD 1C) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Midwest Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Gulf Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Rocky Mountain Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly West Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Colorado Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Florida Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New York Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Minnesota Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Ohio Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Texas Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Washington Regular Conventional Retail Gasoline Prices (Dollars per Gallon),"Weekly Cleveland, OH Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Denver, CO Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Miami, FL Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Seattle, WA Regular Conventional Retail Gasoline Prices (Dollars per Gallon)"
Date,,,,,,,,,,,,,,,,,,,,
1990-08-20,1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-08-27,1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-03,1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-10,1.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-17,1.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,3.047,2.982,3.054,3.293,2.891,2.997,2.749,3.201,3.966,3.074,2.869,3.206,3.043,2.990,2.735,4.301,3.010,NaN,2.909,4.518
2025-07-07,3.013,2.990,3.031,3.264,2.910,2.924,2.697,3.172,3.935,2.920,2.988,3.189,2.977,2.852,2.669,4.274,2.901,NaN,3.023,4.474
2025-07-14,3.018,2.954,3.021,3.227,2.874,2.975,2.710,3.178,3.915,2.920,2.881,3.166,2.983,3.051,2.675,4.260,3.023,NaN,2.863,4.443
2025-07-21,3.018,2.991,3.127,3.206,2.923,2.925,2.739,3.186,3.910,2.975,2.985,3.167,2.969,2.890,2.716,4.260,2.971,NaN,3.010,4.423
2025-07-28,3.023,2.986,3.061,3.167,2.928,2.964,2.715,3.167,3.884,2.973,3.023,3.156,2.926,3.094,2.653,4.245,3.096,NaN,3.056,4.425

In [5]:
df.columns # to check for the list of column name

Index(['Weekly U.S. Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly East Coast Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly New England (PADD 1A) Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Central Atlantic (PADD 1B) Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Lower Atlantic (PADD 1C) Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Midwest Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Gulf Coast Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Rocky Mountain Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly West Coast Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Colorado Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Florida Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly New York Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Minnesota Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Ohio Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Texas Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Washington Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Cleveland, OH Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Denver, CO Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Miami, FL Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly Seattle, WA Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)'],
      dtype='object')

In [6]:
df.columns = [(one_column
               .removesuffix('Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)')
               .removeprefix('Weekly')
               .strip())
              for one_column in df.columns]
df.head()

# for each column in the columns, remove the  prefix and suffix

,U.S.,East Coast,New England (PADD 1A),Central Atlantic (PADD 1B),Lower Atlantic (PADD 1C),Midwest,Gulf Coast,Rocky Mountain,West Coast,Colorado,Florida,New York,Minnesota,Ohio,Texas,Washington,"Cleveland, OH","Denver, CO","Miami, FL","Seattle, WA"
Date,,,,,,,,,,,,,,,,,,,,
1990-08-20,1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-08-27,1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-03,1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-10,1.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-17,1.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1824 entries, 1990-08-20 to 2025-07-28
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   U.S.                        1818 non-null   float64
 1   East Coast                  1734 non-null   float64
 2   New England (PADD 1A)       1687 non-null   float64
 3   Central Atlantic (PADD 1B)  1687 non-null   float64
 4   Lower Atlantic (PADD 1C)    1687 non-null   float64
 5   Midwest                     1734 non-null   float64
 6   Gulf Coast                  1734 non-null   float64
 7   Rocky Mountain              1734 non-null   float64
 8   West Coast                  1729 non-null   float64
 9   Colorado                    1313 non-null   float64
 10  Florida                     1158 non-null   float64
 11  New York                    1313 non-null   float64
 12  Minnesota                   1313 non-null   float64
 13  Ohio                        1158 non-null   float64
 14  Texas                       1313 non-null   float64
 15  Washington                  1158 non-null   float64
 16  Cleveland, OH               1158 non-null   float64
 17  Denver, CO                  1223 non-null   float64
 18  Miami, FL                   1157 non-null   float64
 19  Seattle, WA                 1158 non-null   float64
dtypes: float64(20)
memory usage: 299.2 KB

In [32]:
df

,U.S.,East Coast,New England (PADD 1A),Central Atlantic (PADD 1B),Lower Atlantic (PADD 1C),Midwest,Gulf Coast,Rocky Mountain,West Coast,Colorado,Florida,New York,Minnesota,Ohio,Texas,Washington,"Cleveland, OH","Denver, CO","Miami, FL","Seattle, WA"
Date,,,,,,,,,,,,,,,,,,,,
1990-08-20,1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-08-27,1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-03,1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-10,1.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-09-17,1.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,3.047,2.982,3.054,3.293,2.891,2.997,2.749,3.201,3.966,3.074,2.869,3.206,3.043,2.990,2.735,4.301,3.010,NaN,2.909,4.518
2025-07-07,3.013,2.990,3.031,3.264,2.910,2.924,2.697,3.172,3.935,2.920,2.988,3.189,2.977,2.852,2.669,4.274,2.901,NaN,3.023,4.474
2025-07-14,3.018,2.954,3.021,3.227,2.874,2.975,2.710,3.178,3.915,2.920,2.881,3.166,2.983,3.051,2.675,4.260,3.023,NaN,2.863,4.443
2025-07-21,3.018,2.991,3.127,3.206,2.923,2.925,2.739,3.186,3.910,2.975,2.985,3.167,2.969,2.890,2.716,4.260,2.971,NaN,3.010,4.423
2025-07-28,3.023,2.986,3.061,3.167,2.928,2.964,2.715,3.167,3.884,2.973,3.023,3.156,2.926,3.094,2.653,4.245,3.096,NaN,3.056,4.425

In [ ]:
# how to find out the data range (min and max )

In [37]:
df.count()

U.S.                          1818
East Coast                    1734
New England (PADD 1A)         1687
Central Atlantic (PADD 1B)    1687
Lower Atlantic (PADD 1C)      1687
Midwest                       1734
Gulf Coast                    1734
Rocky Mountain                1734
West Coast                    1729
Colorado                      1313
Florida                       1158
New York                      1313
Minnesota                     1313
Ohio                          1158
Texas                         1313
Washington                    1158
Cleveland, OH                 1158
Denver, CO                    1223
Miami, FL                     1157
Seattle, WA                   1158
dtype: int64

In [34]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [12]:

df_profile = ProfileReport(df, title="My DataFrame Profile", explorative=True)
df_profile.to_file("report.html")

100%|██████████| 20/20 [00:00<?, ?it/s]25 [00:00<00:00, 60.63it/s, Describe variable: Seattle, WA]
Summarize dataset: 100%|██████████| 430/430 [00:21<00:00, 19.70it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.78s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.33s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 15.42it/s]

ProfileReport module allow to quickly scan the quality of the data. Further detail, prefer to profile.html

# Q2: In which region of the US have gas prices been, on average, the highest since 2000?

## approach:  
- get data from 2000. check for index type to insure the index is DateTime  
- get the mean, and high since 2000

In [ ]:
(
    df
    .loc['2000':]
    .mean()
)
#=> to get all the mean of each column within the index range from 2000 and onward

U.S.                          2.582657
East Coast                    2.590085
New England (PADD 1A)         2.679330
Central Atlantic (PADD 1B)    2.738400
Lower Atlantic (PADD 1C)      2.541356
Midwest                       2.555082
Gulf Coast                    2.444818
Rocky Mountain                2.646604
West Coast                    2.916628
Colorado                      2.611137
Florida                       2.764527
New York                      2.788787
Minnesota                     2.578033
Ohio                          2.739319
Texas                         2.453228
Washington                    3.185208
Cleveland, OH                 2.758489
Denver, CO                    2.561924
Miami, FL                     2.872842
Seattle, WA                   3.247488
dtype: float64

In [15]:
df_2000 = df.loc['2000':]

In [16]:
df_2000

,U.S.,East Coast,New England (PADD 1A),Central Atlantic (PADD 1B),Lower Atlantic (PADD 1C),Midwest,Gulf Coast,Rocky Mountain,West Coast,Colorado,Florida,New York,Minnesota,Ohio,Texas,Washington,"Cleveland, OH","Denver, CO","Miami, FL","Seattle, WA"
Date,,,,,,,,,,,,,,,,,,,,
2000-01-03,1.260,1.245,1.330,1.329,1.220,1.256,1.233,1.297,1.353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,1.252,1.247,1.327,1.317,1.226,1.238,1.226,1.289,1.351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-17,1.268,1.250,1.335,1.320,1.228,1.279,1.226,1.283,1.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-24,1.307,1.280,1.362,1.350,1.259,1.341,1.258,1.283,1.356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-31,1.307,1.288,1.363,1.355,1.267,1.321,1.272,1.316,1.374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,3.047,2.982,3.054,3.293,2.891,2.997,2.749,3.201,3.966,3.074,2.869,3.206,3.043,2.990,2.735,4.301,3.010,NaN,2.909,4.518
2025-07-07,3.013,2.990,3.031,3.264,2.910,2.924,2.697,3.172,3.935,2.920,2.988,3.189,2.977,2.852,2.669,4.274,2.901,NaN,3.023,4.474
2025-07-14,3.018,2.954,3.021,3.227,2.874,2.975,2.710,3.178,3.915,2.920,2.881,3.166,2.983,3.051,2.675,4.260,3.023,NaN,2.863,4.443
2025-07-21,3.018,2.991,3.127,3.206,2.923,2.925,2.739,3.186,3.910,2.975,2.985,3.167,2.969,2.890,2.716,4.260,2.971,NaN,3.010,4.423
2025-07-28,3.023,2.986,3.061,3.167,2.928,2.964,2.715,3.167,3.884,2.973,3.023,3.156,2.926,3.094,2.653,4.245,3.096,NaN,3.056,4.425

In [18]:
df_2000.mean().nlargest(10)

Seattle, WA                   3.247488
Washington                    3.185208
West Coast                    2.916628
Miami, FL                     2.872842
New York                      2.788787
Florida                       2.764527
Cleveland, OH                 2.758489
Ohio                          2.739319
Central Atlantic (PADD 1B)    2.738400
New England (PADD 1A)         2.679330
dtype: float64

In [19]:
df_2000.mean().sort_values(ascending=False).head(10)

Seattle, WA                   3.247488
Washington                    3.185208
West Coast                    2.916628
Miami, FL                     2.872842
New York                      2.788787
Florida                       2.764527
Cleveland, OH                 2.758489
Ohio                          2.739319
Central Atlantic (PADD 1B)    2.738400
New England (PADD 1A)         2.679330
dtype: float64

In [20]:
df_2000_mean = df_2000.mean()

In [21]:
df_2000_mean

U.S.                          2.582657
East Coast                    2.590085
New England (PADD 1A)         2.679330
Central Atlantic (PADD 1B)    2.738400
Lower Atlantic (PADD 1C)      2.541356
Midwest                       2.555082
Gulf Coast                    2.444818
Rocky Mountain                2.646604
West Coast                    2.916628
Colorado                      2.611137
Florida                       2.764527
New York                      2.788787
Minnesota                     2.578033
Ohio                          2.739319
Texas                         2.453228
Washington                    3.185208
Cleveland, OH                 2.758489
Denver, CO                    2.561924
Miami, FL                     2.872842
Seattle, WA                   3.247488
dtype: float64

In [39]:
df_2000_mean_gas_price = df_2000_mean.to_frame(name='avg_gas_price')

In [40]:
df_2000_mean_gas_price.reset_index()

                         index  avg_gas_price
0                         U.S.       2.582657
1                   East Coast       2.590085
2        New England (PADD 1A)       2.679330
3   Central Atlantic (PADD 1B)       2.738400
4     Lower Atlantic (PADD 1C)       2.541356
5                      Midwest       2.555082
6                   Gulf Coast       2.444818
7               Rocky Mountain       2.646604
8                   West Coast       2.916628
9                     Colorado       2.611137
10                     Florida       2.764527
11                    New York       2.788787
12                   Minnesota       2.578033
13                        Ohio       2.739319
14                       Texas       2.453228
15                  Washington       3.185208
16               Cleveland, OH       2.758489
17                  Denver, CO       2.561924
18                   Miami, FL       2.872842
19                 Seattle, WA       3.247488

In [ ]:
df_2000_mean_gas_price['index']d

KeyError: 'index'

In [41]:
y = df_2000_mean_gas_price['index']
x = df_2000_mean_gas_price['avg_gas_index']
fig, ax  = plt.subplots()
ax.stem(y, x, orientation ='horizontal')

plt.show()

KeyError: 'index'